<a href="https://colab.research.google.com/github/oaboelfetouh/tutorials/blob/main/Data_Structure_Lists_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = [1,3,8,6,7]
print(sum(list1))
print(len(list1))

25
5

In [ ]:
average = sum(list1) // len(list1)
average

5

In [ ]:
dinnerchoices = [['apple', 'orange', 'mango'], ['meat', 'beaf', 'ham']]
dinnerchoices[0][1] #this is how to access multidimintional list

dinnerchoices[0][2] = 'ahmed' # :D
dinnerchoices

[['apple', 'orange', 'ahmed'], ['meat', 'beaf', 'ham']]

In [ ]:
import numpy as np 
a = np.array(dinnerchoices)
a[0,1] #this is how to access multidimintional array

'orange'

In [ ]:
list_1 = [1,2,3,4,5]
list_1.append(5) #adding in the end
list_1.insert(2,'omar') #insert(indix, value)

In [ ]:
list_1

[1, 2, 'omar', 3, 4, 5, 5]

In [ ]:
list_2 = [1,2,3,4]
list_1.extend(list_2) #you can extend a list of any Iterable
list_1

[1, 2, 'omar', 3, 4, 5, 5, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon", 'omar'] 
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'omar', 'cherry']

In [ ]:
thislist.pop(1)
thislist

['apple', 'watermelon', 'omar', 'cherry']

In [ ]:
thislist.remove('omar') #remove the item....
thislist.pop(0) #remove the itemd indixe....

'apple'

In [ ]:
thislist

['watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
# append(item at the end), inset(index, item), list.extend(list2)
# remove(item), pop(index), list.clear() 
# del "can delete an item or a complete list
ahmed = [1,2]
del ahmed[0]
del ahmed

In [ ]:
fruits = ["apple", "Banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'Banana', 'mango']

In [ ]:
fruits.sort()
fruits #upper first :(

['Banana', 'apple', 'cherry', 'kiwi', 'mango']

In [ ]:
fruits.sort(key = str.lower)
fruits

['apple', 'Banana', 'cherry', 'kiwi', 'mango']