<a href="https://colab.research.google.com/github/oaboelfetouh/tutorials/blob/main/Python_Functions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#lambda expression is an easy way to create a function
x = lambda a : a**2  # lambda Parameters : Returns
x(2) #YOU HAVE TO ASSIGN THE LAMBDA EXPRESSION TO A VARIABLE

4

In [2]:
def cool_function(a):
  return a**2

cool_function(2)

4

In [3]:
def cool_function(a,b):
  return a*b
print("the function by def : ", cool_function(3,5))

x = lambda a,b : a*b 
print ("the function by lambda",x(3,5))

the function by def :  15

15

In [9]:
# notice... 
def aa(a ,a1):
  x1 = a + a1
  x2 = a * a1
  return x1,x2

x = aa(5,5) # the function returns tow numbers, we assigned both to a single varaible, SO...
print(type(x)) # SO... they type is Tuple :D
print(x)


#select the first item of the tuple
print(x[0])

#OR...
x, y = aa(5,6) # we know that the returns are 2, so we assigned the function to 2 variables

<class 'tuple'>
(10, 25)

10

In [14]:
# important Problems
for i in range(1,5): # for loop responsible for the rows
  for j in range(i):  # for loops responsible for the column
    print(i," ", end = '') # end = " " prints the next iteration in the same line
  print() # empty print to move to a new line

1
2  2
3  3  3
4  4  4  4

In [18]:
# string object
print("ahmed" + "hhhhhh") # concatinate 2 strings
print("ahmed"[3]) # the string object is indexed :))

print()
print("ahmed"[::-1]) # reverse a string

ahmedhhhhhh
e

demha

In [19]:
#reversing a list
listyyy = [1,2,3,4,5,6666]
listyyy[::-1] # 7fz

[6666, 5, 4, 3, 2, 1]