<a href="https://colab.research.google.com/github/oaboelfetouh/tutorials/blob/main/Pytjon_Iterables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Object

In [ ]:
#List Object
list1 = ["abc", 34, True, 40, "male"]
print(len(list1)) # 5
type(list1) # list object

5

list

In [ ]:
# access the list items:
 
print(list1[1]) #[the index]
print(list1[-1]) # the last item in the list
print(list1[0:2]) # a range of index-es
print(list1[:]) # selct all the items in the list

print(list1[:3]) # all before index 3.... index 3 IS NOT included
print(list1[3:]) # index 3 + all after.... index 3 IS included

list1[:3] + list1[3:] # equals the list itself

34
male
['omar', 34]
['omar', 34, 'index2', 'index3', 'male']
['omar', 34, 'index2']
['index3', 'male']

['omar', 34, 'index2', 'index3', 'male']

In [ ]:
#changing the list items: 

list1[0] = 'omar'
list1[2:4] = ['index2', 'index3']

print(list1, ", this list of length ",len(list1))

['omar', 34, 'index2', 'index3', 'male'] , this list of length  5

In [ ]:
# adding items to the list
list1.insert(2, "hi there iam using whatsapp") # insert in the index X , the item X

list1. append("iam in the laaaaast position") # adding items in the last position (useful with for loops)

In [ ]:
#stick 2 lists together
list_1 = [1,2,3,"omar"]
list_2 = [1,2,3,"ahmed"]
list_1.extend(list_2) # NOTICE: inside the extend() method, we can use any kind of Iterable
list_1

[1, 2, 3, 'omar', 1, 2, 3, 'ahmed']

In [ ]:
# REMOVING items from the list 
list_1.pop(2) # with the index
list_1.remove("omar") # with the itemd

In [ ]:
# iterating trhough a list :
list_10 = ['omar', 'ahamed', 'mohamed', 'ali']

for i in list_10:
  print(i) # i is the item itself

print()
print('first loop is done')
print()

for i in range(len(list_10)):
  print(list_10[i]) # i is the index

omar
ahamed
mohamed
ali

first loop is done

omar
ahamed
mohamed
ali

In [ ]:
# list Comprehension
list_20 = [i for i in range(5)] #[0,1,2,3,4]
list_20 = [i**2 for i in range(5)] #[0,1,4,9,16]
list_20 = [list1 for i in range(5)] #[list1, list1, list1, list1, list1]

newlist = [x for x in range(10) if x < 5] # VERY IMPORTANT!
newlist

[0, 1, 2, 3, 4]

In [ ]:
#sorting lists:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

**very important**

In [ ]:
list1 = [1,2,3]
list2 = list1

list1.append('hi')
print(list2) #list2 has changed!! -I edited list1 in the previous line!!
print(list1 is list2) # the same place in the memory!

[1, 2, 3, 'hi']
True

In [ ]:
list1 = [1,2,3]
list2 = list1.copy() # I created a copy 

list1.append('hi')
print(list2) #list2 JAS NOT changed!! -I edited list1 in the previous line
print(list1 is list2) # NOT the same place in the memory!

[1, 2, 3]
False

# Dictionary

In [45]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [50]:
# access the Items of the dictionary
print(thisdict.keys())
print(thisdict.values())

print()
print(thisdict.items())

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [49]:
x = thisdict["brand"] #[the key] , returns the value of this key
x

'Ford'

In [51]:
#changing items
thisdict["year"] = 2018
# or
thisdict.update({"year": 2020})   #update (entire dictionary having the same key)

In [54]:
#adding items
thisdict['omar'] = 19
thisdict 

# or
thisdict.update({"ahmed": 19})

In [56]:
# REMOVE
thisdict.pop('omar') # the key

19

In [59]:
# loops in dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
  print(i) # i is the keys by default

print()
for i in thisdict.keys():
  print(i)

print()
for i in thisdict.values():
  print(i)

print()
for i,j in thisdict.items():
  print(i, " is the key, ", j , " is the value")

brand
model
year

brand
model
year

Ford
Mustang
1964

brand  is the key,  Ford  is the value
model  is the key,  Mustang  is the value
year  is the key,  1964  is the value

In [60]:
# copying the dict is the same as the list
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy() # we created a copy
print(mydict is thisdict)

False

# Tubles

In [68]:
x = (1,2,3,4)

#tubles are the same as lists BUUUUTTTTT:
try : 
  x.append(5) #that will raise an error
except :
   print ("tubles are not changable!!")

tubles are not changable!!

# Sets

In [69]:
myset = {1,2,3,4}

# Sets are the same as lists BUUUTT : No Duplications!

myset.add('ahmed') 
myset.remove('ahmed')